html, body {
	margin: 0;
	padding: 0;
	background-color: #FBF1F8;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

div.header {
  position: relative;
  box-shadow: 0 0 transparent;
  height: 89px;
}

div.header h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
  font-family: 'Cantora One', sans-serif;
  color: #ff6b6b;
  text-shadow:0 2px 0 #fff;
}
div.container {
	position: relative;	
	width: 100%;
	width:980px;
}